In [1]:
import pandas
import numpy
import json5
import functools
import json
from matplotlib import pyplot
from typing import Optional, Any, Coroutine, Union, Dict, List
import nltk
from nltk.corpus import stopwords
import string
import contractions

In [2]:
df = pandas.read_csv("data/cleaned_data.csv")

In [3]:
df_trim = df[df["length"] > 0]

In [4]:
df_trim.groupby("rating").describe()

          length
           count        mean         std  min    25%    50%    75%      max
rating
1        13269.0  415.521290  562.393165  4.0  144.0  239.0  458.0  14855.0
2        11059.0  521.623474  696.150374  5.0  161.0  290.0  599.0  13040.0
3        21436.0  516.474529  733.823506  2.0  151.0  268.0  576.0  18968.0
4        39974.0  596.576900  861.056839  2.0  161.0  308.0  691.0  22241.0
5       108602.0  459.042946  734.334497  2.0  138.0  226.0  479.0  32189.0

In [5]:
mask = [50 < length < 2000 for length in df_trim["length"]]

df_trim = df_trim[mask]

In [6]:
df_shuffle = df_trim.sample(frac=1)

In [7]:
df_shuffle.reset_index(inplace=True, drop=True)

In [16]:
arr_df_ratings = [
    df_shuffle[df_shuffle["rating"] == group][:10000] for group in range(1, 6)
]

In [17]:
df_equal = pandas.concat(arr_df_ratings)

In [20]:
df_equal.groupby("rating").describe()
df_equal.to_csv("data/balanced_data.csv")